<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout">

<div layout:fragment="content">
    <br>
    <br>
    <form th:action="@{/ordrdetail/update}" th:object="${ordrdetail}"  method="post" class="row g-3">
        <div class="mt-5 text-center">
            <h2 class="text-center bg-light">Editar un detalle de la orden </h2>
        </div>
        <input type="hidden" th:field="*{id}">
        <div class="col-md-6">
            <label for="amount" class="form-label">Cantidad</label>
            <input type="number" class="form-control" th:field="*{amount}" id="amount" required>
        </div>

        <div class="col-md-6">
            <label for="unitprice" class="form-label">Precio unitario</label>
            <input type="number" class="form-control" th:field="*{unitprice}" id="unitprice" placeholder="Escriba el precio unitario" required>
        </div>

        <div class="col-md-6">
            <label for="total" class="form-label">Total</label>
            <input type="number" class="form-control" th:field="*{total}" id="total" placeholder="Escriba el total de la orden" required>
        </div>


        <div class="col-md-6">
            <label for="ordr" class="form-label">Orden</label>
            <select id="ordr" name="ordr_id"  class="form-select" required>
                <option th:each="ordr : ${ordrs}" th:value="${ordr.id}" th:text="${ordr.id}"></option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="product" class="form-label">Producto</label>
            <select id="product" name="product_id" class="form-select" required>
                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="state" class="form-label">Estado</label>
            <select id="state" name="estate" th:field="*{state}" class="form-select" required>
                <option th:each="i : ${#numbers.sequence(0,1)}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>

        <div class="col-lg-12 col-12 text-center mt-3">
            <button type="submit" class="btn btn-success">Guardar cambios</button>
            <a th:href="@{/ordrdetail}" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
</html>