<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout" >

<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
            title: "Confirmación",
            text: '[[${msg}]]',
            icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "success"
            });
        </script>
    </div>
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <br>
    <br>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-12 col-12 table-responsive">
            <h1 class="text-center">Listado</h1>
            <a th:href="@{/ordrdetail/create}" class="btn btn-danger">Detalles de la orden</a>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                    <th>Orden</th>
                    <th>Producto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${ordrDetails}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${item.unitPrice}"></td>
                    <td th:text="${item.total}"></td>
                    <td th:text="${item.ordr.id}"></td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.state}"></td>
                    <td>
                        <a th:href="@{/ordrdetail/details/{id} (id = ${item.id}) }" class="btn btn-sm" style=" background-color: #95a3a2">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a th:href="@{/ordrdetail/edit/{id} (id = ${item.id}) }" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{/ordrdetail/remove/{id} (id = ${item.id}) }" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/ordrdetail?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
