<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout" >

<div layout:fragment="content">
    <br>
    <br>
    <h1>Crear nuevo restaurante</h1>
    <form th:action="@{/restaurant/save}" th:object="${restaurant}" enctype="multipart/form-data" method="post" class="row g-3">
        <div class="mt-5 text-center">
            <h2 th:text="${titulo}">Registro de Restaurante</h2>
        </div>

        <div class="col-md-6">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Escriba el nombre" required>
        </div>

        <div class="col-md-6">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="Escriba el apellido" required>
        </div>

        <div class="col-md-6">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="text" class="form-control" th:field="*{phone}" id="phone" placeholder="Escriba el teléfono" required>
        </div>

        <div class="col-md-6">
            <label for="schedule" class="form-label">Horario</label>
            <input type="text" class="form-control" th:field="*{schedule}" id="schedule" placeholder="Escriba el horario" required>
        </div>

        <div class="col-md-6">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Escriba la descripción" required>
        </div>

        <div>
            <label for="image" class="form-label">Seleciona la imagen</label>
            <input class="form-control form-control-lg" th:field="{image}"  id="image" type="text">
        </div>
        <div>
            <label for="logo" class="form-label">Seleciona la imagen</label>
            <input class="form-control form-control-lg" th:field="{logo}"  id="logo" type="text">
        </div>
        <div class="col-md-6">
            <label for="state" class="form-label">Estado</label>
            <select id="state" name="state" class="form-select" required>
                <option th:each="i : ${#numbers.sequence(0,1)}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>

        <div class="col-lg-12 col-12 text-center mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/restaurant}" class="btn btn-secondary">Regresar</a>
        </div>
    </form>

</div>