<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout">

<div layout:fragment="content">
    <br>
    <br>
    <h1 class="mb-4 text-center">Detalles de la Orden</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${ordr.id}"></dd>

            <dt class="col-sm-2">Fecha de Orden</dt>
            <dd class="col-sm-10" th:text="${ordr.ordrdate}"></dd>

            <dt class="col-sm-2">Tiempo de Entrega</dt>
            <dd class="col-sm-10" th:text="${ordr.deliverytime}"></dd>

            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10" th:text="${ordr.state}"></dd>

            <dt class="col-sm-2">Total</dt>
            <dd class="col-sm-10" th:text="${ordr.total}"></dd>

            <dt class="col-sm-2">Usuario</dt>
            <dd class="col-sm-10" th:text="${ordr.user.name}"></dd>

            <dt class="col-sm-2">Restaurante</dt>
            <dd class="col-sm-10" th:text="${ordr.restaurant.name}"></dd>

            <dt class="col-sm-2">Estado de la Orden</dt>
            <dd class="col-sm-10" th:text="${ordr.estate}"></dd>
        </dl>

        <a th:href="@{/ordr/edit/{id} (id = ${ordr.id})}" class="btn btn-success">Editar</a>
        <a th:href="@{/ordr}" class="btn btn-secondary">Regresar</a>
    </div>

</div>
</html>