<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout" >

<div layout:fragment="content">
    <br>
    <br>
    <h1>Crear nuevo Rol</h1>
    <form th:action="@{/role/save}" th:object="${role}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Escriba el nombre del rol" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/role}" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>