<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout" >

<div layout:fragment="content">
    <br>
    <br>
    <h1>Detalles del Rol</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${role.id}"></dd>
            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${role.name}"></dd>
        </dl>

        <a th:href="@{/role/edit/{id} (id = ${role.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/role}" class="btn btn-outline-secondary">Regresar</a>
    </div>
</div>