<html lang="en"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainlayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <br>
    <br>
    <h1 class="text-center">Editar rol</h1>
    <form th:action="@{/role/save}" th:object="${role}" method="post" >
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Nombre</label>
                    <input type="text" class="form-control" th:field="*{Name}" id="Name" placeholder="Escriba el nombre del rol" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="state" class="form-label">Estado</label>
            <select id="state" name="state" class="form-select" required>
                <option th:each="i : ${#numbers.sequence(0,1)}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button> |

    </form>
</div>